MONGO_DATABASE_NAME=
MONGO_USER=
MONGO_PASSWORD=
MONGO_ADDRESS=

FIREBASE_ADMIN=firebase-admin.development.json
WEB_API_KEY=

# GraphQL Ports
CORE_PORT=8080
ANALYTIC_PORT=8082
TIME_TRACKING_PORT=8083
NOTIFICATION_PORT=8084
CURRENCY_PORT=8085

# gRPC Ports
CORE_GRPC_PORT=50051
ANALYTIC_GRPC_PORT=50052
TIME_TRACKING_GRPC_PORT=50053
NOTIFICATION_GRPC_PORT=50054
CURRENCY_GPRC_PORT=50055

REDIS_URI=
REDIS_PASSWORD=

GOOGLE_SHEETS_CREDENTIALS=waitlist.development.json
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=Waitlist

FISH_CONFIG_PATH=fish_config.csv
EXCHANGE_CONFIG_PATH=exchange_config.csv

FISH_CATCHING_INTERVAL_SECONDS=5

# ------------------- ELK Stack --------------------------
# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=

# Version of Elastic products
STACK_VERSION={version}

# Set the cluster name
CLUSTER_NAME=

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200
#ES_PORT=127.0.0.1:9200

# Port to expose Kibana to the host
KIBANA_PORT=5601
#KIBANA_PORT=80

# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=1073741824

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject