go 1.22.3

use (
	.
	./cmd
	./pkg/analytics
	./pkg/auth
	./pkg/core
	./pkg/db
	./pkg/graphql
	./pkg/timetrackings
	./pkg/utils
	./services/analytics
	./services/core
	./services/timetrackings
	./test
)
